.app {
  text-align: center;
  background-color: #00AEAE;
}

.app-title {
  height: 5vmin;
  pointer-events: none;
}

.app-logo {
  height: 30vmin;
  pointer-events: none;
}

.app-link {
  color: #000000;
  text-decoration: none;
}

.app-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-body {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.app-footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  color: #FFFFFF;
}

.media-player-wrapper {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basic-navbar-nav {
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 40s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}